@import url("https://fonts.googleapis.com/css2?family=Square+Peg&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Square Peg', cursive;
  font-size: 30px; }

.color-verde, footer {
  background-color: #83C457; }

h2 {
  font-family: none; }

p {
  color: #441B0A; }

h1 {
  color: #441B0A; }

.boton {
  margin: 0px auto; }

.centrado-boton {
  margin-top: 20px; }

footer {
  background-image: url(../imagenes/footer.png);
  max-width: 2400px;
  height: 600px;
  background-size: cover;
  background-position: center bottom;
  flex-wrap: wrap; }

.logo {
  max-width: 200px; }

.redes {
  font-family: 'Square Peg', cursive;
  text-decoration: none;
  font-size: 10px;
  color: #441B0A; }
  .redes a {
    height: 60px;
    width: 60px;
    background-color: #441B0A;
    text-decoration: none;
    font-size: 28px;
    line-height: 60px;
    text-align: center;
    background: #441B0A;
    color: #83C457;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    transition: all .4s ease-in-out; }

.hola {
  flex-direction: column; }

.card {
  height: 20vh;
  border: none; }

.card-img-top {
  height: 30vh;
  width: 70%;
  background-color: none; }

.mapa {
  margin-bottom: 50px; }

@media (min-width: 992px) {
  .hola.navbar,
  .hola .navbar-collapse {
    flex-direction: column; }
  .hola .navbar-expand-lg .navbar-nav {
    flex-direction: column; }
  .hola {
    height: 50vh;
    width: 20%;
    background-color: none;
    align-items: flex-start; }
  .hola .navbar-brand {
    margin-left: 0.5em;
    padding-bottom: 0;
    border-bottom: 4px solid #464646; }
  .hola form input {
    margin-bottom: 0.7em; } }
