@import url('https://fonts.googleapis.com/css2?family=Square+Peg&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Square Peg', cursive;
    font-size: 30px;
}
.color-verde{
    background-color: #83C457;
}
h2{
    font-family: none;
}
p{
    color: #441B0A;
}
h1{
    color: #441B0A;
}
.boton{
    margin: 0px auto;
}
.centrado-boton{
    margin-top: 20px;
}
footer{
    border: 2px red solid;
    background-image: url(/imagenes/footer.png);
    max-width: 2400px;
    height: 600px;
    background-size: cover;
    background-position: center bottom;
    flex-wrap: wrap;
}
.logo{
    max-width: 200px;
}
.redes{
    font-family: 'Square Peg', cursive;
    text-decoration: none;
    font-size: 10px;
    color: #441B0A;
}
.redes a{
    width: 60px;
    height: 60px;
    text-decoration: none;
    font-size: 28px;
    line-height: 60px;
    text-align: center;
    background: #441B0A;
    color: #83C457;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    transition: all .4s ease-in-out;
}